
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

*{
    margin: 0;
    padding: 0;
}

/* button */
.btn{
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    background-color: #3ac072;
}


.see-btn{
    color: #FFFFFF;
    font-size: 19px;
    border: 1px solid #FFFFFF;
    padding: 7.5px;
    border-radius: 4px;
    margin-left: 10px;
}
.see-btn:hover{
    background-color: #469165;
    border: none;
}
.see-btn img{
    margin-right: 10px;
}

.button img{
    width: 14px;
    margin-left: 5px;
}
.button{
    align-items: center;
}

/* main part */

nav{
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    margin-right: 32px;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    line-height: 152%;
}

/* banner part */

#banner{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#banner .banner-content h6{
    width: 230px;
    margin: 0 auto;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #FFFFFF;
    color: #469165;
}
.banner-content .bulet{
    width: 14px;
    margin-right: 8px;
    
}

#banner .banner-content{
    text-align: center;
    padding: 154px 100px;
    width: 85%;
}

.banner-content h1{
    width: 700px;
    margin: 0 auto;
    font-style: Bold;
    font-size: 57px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}

.banner-content .white-heading{
    color: #FFFFFF;
}
.banner-content .green-heading{
    color: #30B868;
}

.banner-content p{
    color: #FFFFFF;
    line-height: 30px;
    margin-bottom: 32px;
}

/* note part start */
.note-container{
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.note-container h2{
    color: #001931;
    font-size: 38px;
    padding-top: 80px;
    font-weight: bold;
    margin-bottom: 16px;
}
.note-container p{
    color: #627382;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 44px;

}

.note-card{
    display: flex;
    gap: 24px;
    /* align-items: center; */
}

.background img{
    background-color: #F95555;
    margin-bottom: 16px;
}

.note-info{
    box-shadow: 0 0 8px 0 #4746463a;
}

.note-card .note-info{
    width: 300px;
    /* border: 1px solid salmon; */
    padding: 20px;
    margin-bottom: 120px;
}

.note-info h3{
    color: #001931;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 14px;
}

.note-info p{
    color: #627382;
    font-size: 13px;
    line-height: 14px;
}

/* brain section start */


.brain-section{
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
    /* border: 2px solid salmon; */
}

.brain-section{
    display: flex;
    align-items: center;
    gap: 60px;
}
.brain-image img{
    width: 550px;
}

.brain-content .solution{
    color: #469165;
    font-size: 16px;
    line-height: 50px;
}
.brain-content h2{
    color: #001931;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

.brain-content .brain-title{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}
.brain-content .done p{
    color: #001931;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 18px;
    
}

/* challenge part */
.challenge{
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #F7F6F2;
    /* border: 2px solid salmon; */
}
.challenge .challenge-content{
    text-align: center;
    padding-top: 80px;
}
.challenge-content h2{
    color: #001931;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}

.challenge-content p{
    color: #627382;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;

}
.last-line{
    margin-top: 16px;
    margin-bottom: 80px;

}