
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

*{
    margin: 0;
    padding: 0;
}

/* button */
.btn{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    background-color: #3ac072;
}


/* main part */

header{
    width: 98%;
    max-width: 1360px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    margin-right: 32px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}